<div id="quickshop" class="js-quick-shop quick-shop__popup">
  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-children fs-result-page-o9x1fd">
        <div class="quick-view-dialog-wrapper fs-result-page-usndq1">
          <div class="quick-view-dialog-image fs-result-page-usndq1">
            <div class="fs-result-page-usndq1">
              <div class="fs-images-bar-container fs-result-page-usndq1">
              </div>
            </div>
            <a
              href=""
              class="quick-view-dialog-image fs-result-page-usndq1"
            >
            </a>
          </div>
          <div class="quick-view-dialog-content fs-result-page-usndq1">
            <div class="fs-result-page-usndq1">
              <a
                href=""
                class="fs-result-page-usndq1"
              >
                <div class="quick-view-dialog-title fs-result-page-usndq1">
                 
                </div>
              </a>
              <div class="quick-view-reviews-wrapper">
              </div>
              <div class="quick-view-price-wrapper fs-result-page-usndq1">
                <div class="quick-view-dialog-price fs-result-page-usndq1">
                  
                </div>
              </div>
              <a
                class="quick-view-dialog-go-to-product-page fs-result-page-usndq1"
                href=""
                >View full details</a
              >
              <div class="product_form">
                <div class="loading"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<script defer {% if template contains 'product' %}type="lazyload2"  data-{% endif %}src="{{ 'z__jsProduct.min.js' | asset_url }}"></script>
