<div class="nosto_element" id="{{section.settings.placement}}"></div>


{% schema %}
{
"name": "Nosto placement",
"settings": [
{
"type": "text",
"id": "placement",
"label": "Placement id"
}
]
}
{% endschema %}
