<div class="container">
  <div class="okeReviews-drp-widget">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ page.content | replace: 'fullwidth"', '" data-fullwidth="true"' }}
  </div>
</div>